<button (click)="getData()">Get Data</button>

<!-- Regions -->
<select (change)="getRegion($event.target.value)">
    <option>Select</option>
    <option *ngFor="let dist of Districts" value={{dist.number}}>{{dist.name}}</option>
</select>
<!-- Stores -->
<select (change)="getStore($event.target.value)">
        <option>Select</option>
    <option *ngFor="let regionName of Regions" value={{regionName.number}}>{{regionName.name}}</option>
</select>

<!-- third -->
<select>
        <option>Select</option>
    <option *ngFor="let store of Stores" value={{store}}>{{store}}</option>
</select>